:root {
    --primary-color: #0077cc; /* Deep Sea Blue */
    --secondary-color: #0099cc; /* Ocean Blue */
    --accent-color: #ccffff; /* Light Sky Blue */
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Sea-themed font */
    --font-color: #fff; /* White text */
    --font-size: 26px;
    --background-image: url('qwe.jpg'); /* Replace with your sea-themed image URL */
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-image: var(--background-image);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: var(--font-color);
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-family: 'Arial Black', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    color: var(--accent-color);
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.sensor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.sensor {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 8px;
    width: 600px;
}

.sensor:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.sensor h2 {
    margin-top: 10px;
    font-size: 34px;
    font-weight: bold;
    color: var(--accent-color);
}

.sensor p {
    font-size: 34px;
    color: var(--accent-color);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--accent-color);
    margin-top: auto;
}
