/* Set custom CSS variables for colors and font */
:root {
    --primary-color: #0077cc; /* Deep Sea Blue */
    --secondary-color: #0099cc; /* Ocean Blue */
    --accent-color: #ccffff; /* Light Sky Blue */
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Sea-themed font */
    --font-color: #333; /* Dark gray text */
    --font-size: 18px; /* Font size for body text */
    --background-image: url('qwe.jpg'); /* Background image URL */
}

/* Body styles */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--font-color);
    font-size: var(--font-size);
    min-height: 100vh; /* Ensure footer is at the bottom */
    display: flex;
    flex-direction: column;
}

/* Header styles */
header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-family: 'Arial Black', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    color: var(--accent-color);
}

/* Main styles */
main {
    padding: 20px;
    text-align: center;
    flex-grow: 1; /* Grow to fill remaining space */
}

/* Sensor container styles */
.sensor-container {
    background-color: var(--secondary-color); /* Ocean Blue */
    padding: 20px;
    border-radius: 10px;
    display: inline-block; /* Center the container */
}

.sensor {
    background-color: var(--accent-color); /* Light Sky Blue */
    border: 1px solid var(--primary-color); /* Deep Sea Blue */
    border-radius: 5px;
    margin: 10px auto; /* Center the sensor */
    padding: 10px;
    width: 200px;
}

.sensor h2 {
    margin-top: 0;
    font-size: 20px;
    color: var(--primary-color); /* Deep Sea Blue */
}

.sensor p {
    margin-bottom: 0;
    font-size: 16px;
    color: var(--font-color); /* Dark gray */
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--accent-color);
}
